.main {
    margin-top: 3em;
}
.end {
    margin-bottom: 15em;
}
.nounderline {
    text-decoration: none !important
}
.item {
    padding-left: 4em;
    padding-right: 4em;
}
.jumbotron {
    background-color: transparent;
}
/* for small screens */
@media (max-width: 768px) {
    .name {
        font-weight: 200;
        font-size: 4rem;
        color:lightslategray;
    }
    .logos {
        height: 100px;
        width: 150px;
    }
    .workdaylogo {
        height: 150px;
        width: 150px;
    }
    .uniphorelogo {
        height: 150px;
        width: 150px;
    }
    .printlogo {
        height: 100px;
        width: 220px;
    }
    .callogo {
        height: 100px;
        width: 230px;
    }
    .about-center {
        text-align: center;
    }
    .aboutUni {
        float: left;
        padding-left: 10%;
        padding-right: 24px;
    }
    .aboutUniText {
        font-size: 15px;
        color:darkgreen;
        line-height: 17px;
        padding-top: 25px;
    }
    .stackText {
        font-size: 20px;
    }
    .allign-icons {
        text-align: center;
    }
    .stack-padding {
        margin-top: 45%;
        margin-bottom: 70%;
    }
    .stackImage {
        height: 85%;
        margin: 6% 3%;
    }
    .projectText {
        display: flex;
        justify-content: center;
        flex-direction: column;
        line-height: 1.3;
    }
    .projectImage {
        width: 180%;
        height: auto;
        border: 2px solid #212529;
        border-radius: 5px;
        margin-bottom: 25px;
    }
    .projects-padding {
        margin-left: 15%;
    }
    .projectRow {
        margin-top: 100px;
        margin-bottom: 40px;
    }
}
/* for big screens */
@media (min-width: 768px) { 
    .name {
        font-weight: 200;
        font-size: 8rem;
        color:lightslategray;
    }
    .logos {
        height: 100px;
        width: 150px;
    }
    .workdaylogo {
        height: 150px;
        width: 150px;
    }
    .uniphorelogo {
        height: 150px;
        width: 150px;
    }
    .printlogo {
        height: 100px;
        width: 240px;
    }
    .callogo {
        height: 100px;
        width: 270px;
    }
    .aboutUni {
        float: left;
        padding-right: 25px;
    }
    .aboutUniText {
        font-size: 16px;
        color:darkgreen;
        line-height: 17px;
        padding-top: 25px;
    }
    .center-ex-text-stack {
        margin-top: 30px;
    }
    .center-text-stack {
        margin-top: 60px;
    }
    .stackText {
        font-size: 25px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .allign-icons {
        text-align: left;
    }
    .stack-icon-padding {
        margin-top: 35px;
    }
    .stackImage {
        height: 90px;
        margin: 3% 1%;
    }
    .stack-padding {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .projectText {
        display: flex;
        justify-content: center;
        flex-direction: column;
        line-height: 1.3;
        text-align: left;
    }
    .projectImage {
        text-align: right;
        margin-right: 10%;
        width: 60%;
        height: auto;
        border: 2px solid #212529;
        border-radius: 5px;
    }
    .projectRow {
        margin-bottom: 40px;
    }
}
.subtitle {
    font-weight: 100;
    font-style: italic;
    font-size: 2rem;
    color:lightslategray;
}
.cardtext {
    margin-top: 1rem;
    color:lightslategray;
    font-weight: 400;
}
.cardtext:hover {
    color: darkslategray;
}
.item:hover .cardtext {
    color: darkslategray;
}
.sectionTitle {
    font-size: 35px;
    font-weight: lighter;
    color:lightslategray;
}
.aboutText {
    font-size: 18px;
}
.sectionMargin {
    margin-top: 50px;
}
.line {
    display:block;
    border:none;
    height:1px;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 600, from(darkslategray), to(#fff));
}
.experienceText {
    color:black;
    font-weight: 230;
    padding-top: 10px;
}
.padding {
    padding-left: 15px;
    padding-right: 15px;
}
.text-center-overflow {
    display: flex;
    justify-content: center;    
}
.space-around{
    padding: 50px 50px;
}
.grey-page{
    background-color: #212529;
    color: whitesmoke;
    padding-top: 50px;
    padding-bottom: 50px;
}
.stack-right {
    height: 100px;
    margin-bottom: 60px;
}
.stackTitle {
    font-size: 45px;
}
.aboutText {
    font-size: 20px;
}
.techStack {
    font-size: 27px;
    text-align: center;
}
.stack-left {
    height: 50px;
}
.portfolioTitle {
    text-align: center;
}
.portfolioTitle {
    text-align: center;
}
.projectsTitle {
    font-size: 40px;
    font-weight: lighter;
    color: slategrey;
}
.projectsText {
    font-size: 20px;
    color: slategray
}
.projectImageDiv {
    text-align: right;
    border-radius: 5px;
}
.projectTitle {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.projectDescription {
    font-size: 20px;
    font-weight: lighter;
}
.paddingRightCol {
    padding-right: 15% !important;
}
.projectLink {
    margin-right: 10px;
    font-size: 20px;
    color: darkred !important;
    font-weight: bolder;
}
.projectLink:hover {
    color: crimson !important;
}